<ion-view  title="Contacts">
      
 <ion-nav-bar class="bar-positive">  
	  
 
 </ion-nav-bar> 

	  <ion-content >
	
	<div class="item item-input-inset">
		<label class="item-input-wrapper">
		  <input type="text" placeholder="Jabber ID" ng-model="add_jid">
		</label>
		<button class="button button-small icon ion-plus" ng-click="add(add_jid)">
		  
		</button>
	</div>
	

	
	
        <ion-list style="">
		 <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" ng-click="chatD(chat.jid)">
		
			  <img data-ng-src="{{chat.photo || 'img/ben.png'}}" data-err-src="img/ben.png"/>
			
			<h2>{{chat.name}}</h2>
			<p>{{chat.title}}</p>
			<i class="icon ion-chevron-right icon-accessory"></i>

			<ion-option-button class="button-assertive" ng-click="remove(chat)">
			  Delete
			</ion-option-button>
			
		  </ion-item>
		</ion-list>		
		
		
		</div>
		
    </ion-content>

</ion-view>


