 
<ion-view id="page106"   hide-tabs> 
    
   <ion-nav-bar class="bar-positive">  
	  <ion-nav-buttons side="left">  
            <a ng-click="goBackState()" class="button button-icon icon ion-ios-arrow-back"></a> 
       </ion-nav-buttons>  
  
 </ion-nav-title>  
 </ion-nav-bar>  
	<ion-content class="content-stable"  on-swipe-left="hideTime = false"  on-swipe-right="hideTime = true"   style="background-image:url('img/bg.jpg');" >

		<div class="speech-wrapper"> 
	
		<div ng-repeat="message in messages"  ng-class="{alt: message.userId != myId}"   class="bubble">
    <div class="txt">
      <p class="name" ng-if="message.userId != myId" >{{ message.userId }}</p>
      <p class="message">{{ message.text }}</p>
	  
	 
       <span class="timestamp">{{ message.time | date:'mediumTime' }}</span>
    </div>
    <div ng-class="{alt: message.userId != myId}" class="bubble-arrow"></div>
 
			
			<!--
			<div class="message" ng-class="{'slide-right': hideTime, '': !hideTime}">
				<span >{{ message.text }}</span>
			</div>

			
			<div class="time" ng-class="{'slide-right': hideTime,'' : !hideTime}">{{message.time}}</div>
			-->

		</div>
		
		</div>
		
 
  <!--  Speech Bubble alternative -->
  
   <!-- 
   
  <div class="bubble alt">
  
  
    <div class="txt">
     
      <p class="message">Nice... this will work great for my new project.</p>
   
    </div>
    <div class="bubble-arrow alt"></div>
  </div>
  
  
  -->
</div>

	</ion-content>
<a class="icon ion-plus" /> 
	<ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
		<!-- <a class="icon ion-plus" /> -->
		<label class="item-input-wrapper">
			<input type="text" placeholder="Type your message" on-return="showSendMessage(); closeKeyboard()" ng-model="data.message" on-focus="inputUp()" on-blur="inputDown()" />
		</label>
		<a class="icon ion-android-send"   ng-click="showSendMessage()" />
      	</ion-footer-bar>

</ion-view>


