

<ion-view cache-view="false"   id="page6"   hide-tabs >


	 <ion-nav-buttons side="left"> 

     <a ng-click="goBackState()" class="button button-clear  button-icon icon ion-ios-arrow-back"></a>
 </ion-nav-buttons> 

  

	
	

  	<ion-nav-title>
	
	<h1 class="title withSubtitle" ng-click="goprofile(to_id)">
{{to_id}}
<span ng-show="typing" class="isSubtitle">typing .... </span>
</h1>



			
			
				
			
</ion-nav-title>
	
	<ion-content class="content-stable"    on-swipe-left="hideTime = false"  on-swipe-right="hideTime = true"   style="background-image:url('img/bg.jpg');" >

		<div class="speech-wrapper"> 
		<div ng-repeat="message in messages"            ng-class="{alt: message.userId != myId}"           class="bubble">
    <div class="txt">
      <p class="name alt" ng-show="{alt: message.userId != myId}" >{{ message.userId }}</p>
      <p class="message">{{ message.text }}</p>
      
    </div>
    <div ng-class="{alt: message.userId != myId}" class="bubble-arrow"></div>
 
			
			<!--
			<div class="message" ng-class="{'slide-right': hideTime, '': !hideTime}">
				<span >{{ message.text }}</span>
			</div>

			
			<div class="time" ng-class="{'slide-right': hideTime,'' : !hideTime}">{{message.time}}</div>
			-->

		</div>
		
		
		
 
  <!--  Speech Bubble alternative -->
  
   <!-- 
   
  <div class="bubble alt">
  
  
    <div class="txt">
     
      <p class="message">Nice... this will work great for my new project.</p>
   
    </div>
    <div class="bubble-arrow alt"></div>
  </div>
  
  
  -->
</div>

	</ion-content>

	<ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
		<label class="item-input-wrapper">
			<input type="text" placeholder="Type your message" on-return="showSendMessage(); closeKeyboard()" ng-model="data.message" on-focus="inputUp()" on-blur="inputDown()" />
		</label>
		<button class="button button-clear" ng-click="showSendMessage()">
        Send
		</button>
	</ion-footer-bar>

</ion-view>


