<ion-view view-title="Login" hide-nav-bar="true">
	
	<ion-content style="background: url(img/login.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>Pele Talk</h1>
            </div>
        </div>
        <div class="list">
		
		
            <ion-md-input placeholder="Username"  ng-model="user.jid" highlight-color="balanced" type="text"></ion-md-input>
            <ion-md-input placeholder="Password"  ng-model="user.pass" placeholder="admin"  highlight-color="energized" type="password"></ion-md-input>
        </div>
        <div class="padding">
            <button id="login-button" ng-click="login(user)" class="button button-full button-assertive ink">Login</button>
        </div>
       
    </ion-content>
</ion-view>