<ion-view  title="Search">
       <ion-content ng-class="{expanded:$scope.isExpanded}">
	<ion-searchbar placeholder="Filter Items with Cancel" showCancelButton color="danger" (ionInput)="add(add_jid)"></ion-searchbar>
	<div class="item item-input-inset">
		<label class="item-input-wrapper">
		  <input type="text" placeholder="Jabber ID" ng-model="add_jid">
		</label>
		<button class="button button-small icon ion-search" ng-click="add(add_jid)">
		  
		</button>
	</div>

      
			   <ion-list >
			   
			     <ion-item>
      <ion-checkbox [(ngModel)]="data.jon"></ion-checkbox>
      <ion-label>Jon Snow</ion-label>
    </ion-item>

			   
		 <ion-item class="item-remove-animate item-avatar item-icon-right"   ng-repeat="friend in friendsList"    >
			 
			  <img data-ng-src="{{friend.photo || 'img/ben.png' }}" data-err-src="img/ben.png"   />
			 
			
			  
			 {{friend.Name}} 

			 {{friend.Email}} 
			   
		 <input type="checkbox" ng-model="filter.pink"  class="checkbox checkbox-input-hidden disable-pointer-events checkbox-circle" style="right:0px !important;position: absolute;"  value="on" style="">
		  </ion-item>
		</ion-list>		
			

			<ion-toggle style="" toggle-class="toggle-positive" ng-checked="true">Enable Friends</ion-toggle>
			
			<button ng-click="getimg()" id="logout-button" class="button button-positive button-block ">Get Image</button>
			
			<button ng-click="logout()" id="logout-button" class="button button-positive button-block ">Log Out</button>
				<button ng-click="DeleteDB()" id="Delete-button" class="button button-assertive button-block ">Delete DB</button>		
				<button ng-click="DeleteDBContact()" id="Delete-button" class="button button-assertive button-block ">Delete Contacts</button>	
				<button ng-click="ListRooms()" id="List-button" class="button button-assertive button-block ">List Rooms</button>	
       
    </ion-content>
</ion-view>