<ion-view style="" id="page4" title="Settings">
    <ion-content class="has-header" padding="true">
        <form style="" class="list">
            
			<ion-toggle style="" toggle-class="toggle-positive" ng-checked="true">Enable Friends</ion-toggle>
			
			<button ng-click="logout()" id="logout-button" class="button button-positive button-block ">Log Out</button>
                
            <label style="" class="item item-input">
                <span class="input-label">Host</span>
                <input ng-model="dname" placeholder="" type="text">
            </label>

            <button ng-click="scanner()" id="sca-button" class="button button-positive button-block ">scanner</button>
            <button ng-click="play()" id="sca-button" class="button button-positive button-block ">play</button>
            
            <button ng-click="setdevicename(dname)" id="device-button" class="button button-positive button-block ">Set Device Name</button>
        </form>
    </ion-content>
</ion-view>