<ion-view style="" id="page10" title="UserProfile">
    <ion-content class="has-header" padding="true">
	
        <form style="" class="list">
     <img data-ng-src="data:image/png;base64,{{contact.photo}}" data-err-src="images/png/avatar.png"/>
			
			
		  <ion-list style="">
		 <ion-item class="item-remove-animate item-avatar item-icon-right"  type="item-text-wrap" >
			
			<h2>{{contact.name}}</h2>
			
			
		  </ion-item>
		   <ion-item class="item-remove-animate item-avatar item-icon-right"  type="item-text-wrap" >
			
			<h2>{{contact.title}}</h2>
			
			
		  </ion-item>
		   <ion-item class="item-remove-animate item-avatar item-icon-right"  type="item-text-wrap" >
			
			<h2>{{contact.orgunit}}</h2>
			
			
		  </ion-item>
		   <ion-item class="item-remove-animate item-avatar item-icon-right"  type="item-text-wrap" >
			
			<h2>{{contact.jid}}</h2>
			
			
		  </ion-item> <ion-item class="item-remove-animate item-avatar item-icon-right"  type="item-text-wrap" >
			
			<h2>{{contact.phone}}</h2>
			
			
		  </ion-item>
		  
		</ion-list>		
		
        </form>
    </ion-content>
</ion-view>